<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row row-cols-sm-3">

        <a href="{{{restaurantData.id}}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src={{restaurantData.image}} alt={{restaurantData.name}}>
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{restaurantData.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{restaurantData.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{restaurantData.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>

            </div>
          </div>
        </a>
        <a herf="./restaurant/{{this.id}}">Edit</a>